<!-- <!DOCTYPE HTML> -->
<!--
    Dorian project Login page
-->
<!--
<html>
	<head>
		<title>Dorian project's login page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
    </head>
    
	<body>
  -->
        <div id="wrapper">

            <header id="header">

                <div class="logo">
                    <a href="login.html"><strong>Dorian {{hero}}</strong> <span class="extra"> por Soñadores</span></a>
                </div>

                <nav id="nav">
                    <ul>
                        <li class="current"><a href="login.html">Inicio</a></li>
                        <li>
                            <a href="#" class="icon fa-angle-down">Menú (no irá en esta página)</a>
                            <ul>
                                <li><a href="#">Opción 1</a></li>
                                <li><a href="#">Opción 2</a></li>
                                <li><a href="#">Opción 3</a></li>
                                <li>
                                    <a href="#">Submenú</a>
                                    <ul>
                                        <li><a href="#">Opción Uno</a></li>
                                        <li><a href="#">Opción Dos</a></li>
                                        <li><a href="#">Opción Tres</a></li>
                                        <li><a href="#">Opción Cuatro</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="otro.html">Liga (no sirve)</a></li>
                    </ul>
                </nav>

            </header>

            <section id="one" class="main alt">

                <div class="inner small">
                    <h4>Iniciar sesión {{hero}}</h4>
                    <div class="box">
                        <form method="post" action="#">
                            <div class="row uniform">
                                <div class="12u$">
                                    <label for="username"><strong>Usuario</strong></label>
                                    <input type="text" name="username" id="username" value="" />
                                </div>
                                <div class="12u$">
                                    <label for="passw">Contraseña</label>
                                    <input type="password" name="passw" id="passw" value="" />
                                </div>
                                <div class="12u$">
                                    <input type="submit" value="Acceder" class="special fit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </section>

        </div>
<!--
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.selectorr.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>
-->
